{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {%  if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to our Store....
    {% endif %}
{% endblock %}
{% block title %}
 {%  if category %}
        {{ category.name}}-LIFE STYLE
    {% else %}
        see our new collections-LIFE STYLE
    {% endif %}
{% endblock %}

{% block content %}
{%  if category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'shopapp:allProdCat' %}" >"Our Product Collections"</a></p>
        </div>
    </div>
</div>
    {% endif %}
<div class="mx_auto">
     {%  if category %}
      <img class="my_image" src="{{category.image.url}}" alt="<{{category.name}}">
</div>
   <br>
<div>
    <h1>{{category.name}}</h1>
    <p>{{category.description}}</p>
    {% else %}
    <div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}" alt="our products" height="330" width="989">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">our products collections</h1>
        <p class="text-justify">We are currently living in the most convenient era. Online shopping has transformed the retail industry, making shopping for clothes easier than ever.

With several apps and websites to choose from, you can buy clothes from the comfort of your home by just clicking a few buttons. However, there are several more advantages to shopping for your clothes online.Online shopping gives you the freedom to choose where you want to shop. You could be lounging on your couch, or even be on your lunch break at work, and you can still shop for clothes online. This way, you don't have to worry about going anywhere just to go shopping.Online shopping allows you to save a lot of time and energy. It makes it easier to find the items you want, as you have access to endless brands and online stores from your computer or smartphone.

</p>
    </div>
    {% endif %}
<div class="container">
    <div class="row mx_auto">
        {% for product in products.object_list %}
            <div class="my_bottom_margin col-9 col-sm-12 col-md-4  xol-lg-4">
                <div class="card text-center" style="min-width:18rem;">
                    <a href="{{product.get_url}}"><img class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
                      <div class="card-body">
                          <h4>{{product.name}}</h4>
                          <p>{{product.price}}</p>
                      </div>
                     </div>
            </div>
            {% endfor %}
     </div>
     <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
    <hr>

        <div class="text-center">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
{% endif %}


</div>
    <br>
</div>
</div>
{% endblock %}